@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 24, 40;
  --background-end-rgb: 17, 24, 40;
}

.dark-mode {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 24, 40;
  --background-end-rgb: 17, 24, 40;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
textarea,
select {
  @apply border border-gray-300 rounded px-3 py-2 w-full mb-2;
}

.form-text{
  @apply block text-sm font-medium text-gray-700;
}

.light-theme {
  background-color: white;
  color: black;
}

.dark-theme {
  background-color: black;
  color: white;
}

.btn-item-dropdown {
  @apply flex items-center w-full  gap-1 px-4 py-2 text-sm text-white font-medium hover:bg-gray-600 rounded-md;
}
